In [1]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt

In [2]:
COMBINED_DATA = (
    pd.read_csv("../Datasets/Futures_Oil_Combined.csv")
    .dropna()
)

COMBINED_DATA['Date'] = pd.to_datetime(COMBINED_DATA['Date'])

display(COMBINED_DATA)

           Date  Change_WTI  Change_Brent  Change_Dubai
3691 2014-04-28        0.24         -1.33          0.00
3692 2014-04-29        0.44          0.80          0.00
3693 2014-04-30       -1.52         -0.84          0.00
3695 2014-05-02        0.20          0.44          0.00
3697 2014-05-05       -0.28         -0.80          0.00
...         ...         ...           ...           ...
6763 2024-11-22        1.63          1.17          0.32
6764 2024-11-25       -3.23         -2.17         -0.64
6765 2024-11-26       -0.25         -0.27          0.00
6766 2024-11-27       -0.07          0.03          0.00
6768 2024-11-29       -1.05         -0.46          0.03

[2357 rows x 4 columns]